@font-face{
    font-family: 'Silkscreen';
    src:    url('font/slkscr-webfont.woff') format('woff'),
            url('font/slkscrb-webfont.woff') format('woff'),
            url('font/slkscreb-webfont.woff') format('woff'),
            url('font/slkscre-webfont.woff') format('woff');
}

*{
    padding: 0;
    margin: 0;
    color: black;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Silkscreen', Fallback, sans-serif;
    overflow: hidden;
    background-color: royalblue;
    height: 100%;
    width: 100%;
    color: white;
}

#menu{
    position: absolute;
    height: 15%;
    width: 75%;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    overflow: hidden;
}

#menu > div{
    height: 50%;
    width: 50%;
    float: left;
    color: red;
    display: flex;
}

#menu > div > a{
    background-color: white;
    text-decoration: none;
    color: red;
    margin: auto;
    font-size: 9vw;
    border: 2px solid red;
    text-align: center;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
}

.retourMenu{
    background-color: white;
    text-decoration: none;
    color: red;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
    position: absolute;
    top: 10px;
    left: 10px;
    border: 2px solid red;
    z-index: 3;
}
.perso{
    display: block;
    width: 30px;
    height: 32px;
    background: url("img/femme.png") no-repeat;
    animation: persox 2s steps(15) infinite;
}

@keyframes persox {
    from{ background-position-x: 0; }
    to{ background-position-x: -450px; }
}

.afficheur{
    position: absolute;
    background-color: white;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.ecran{
    background-color: red;
    height: 100%;
    width: 100%;
}
.fondMenu{
    height: 640px;
    width: 360px;
    background: url("img/Background25-9000x640.png") no-repeat;
    animation: backgroundFrame 5s steps(25) infinite;
}

.backg{
    height: 640px;
    width: 360px;
    background: url("img/Backg.png") no-repeat;
    animation: totoFramme 5s steps(9) infinite;
}

@keyframes totoFramme {
  from{ background-position-x: 0; }
  to{ background-position-x: -3240px; }
}

.choixhomme{
    position: absolute;
    height: 250px;
    width: 250px;
    background: url("img/homme_tete.png") no-repeat;
    left: 50%;
    margin-left: -125px;
    top: 10%;
}

.choixfemme{
    bottom: 10%;
    position: absolute;
    height: 250px;
    width: 250px;
    background: url("img/femme_tete.png") no-repeat;
    left: 50%;
    margin-left: -125px;
}

.choixhomme:active{
    background: url("img/homme_tete_eye.png") no-repeat;
}

.choixfemme:active{
    background: url("img/femme_tete_eye.png") no-repeat;
}

@keyframes backgroundFrame {
    from{ background-position-x: 0; }
    to{ background-position-x: -9000px; }
}


.fullScreen{
    position: absolute;
    background-color: royalblue;
    height: 100%;
    width: 100%;
    z-index: 10000;
}

.loader{
    position: absolute;
    margin: 0 auto;
    left: 50%;top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

<<<<<<< HEAD

#toto{
  left: 50%;
  bottom: 10%;
  position: absolute;
}

#mo{
  position: absolute;
}

=======
>>>>>>> f64d5b98f86b758d0ca901fadfccc4dcec4ec1c5
.loader h1{
    color: red;
    font-size: 9vw;
    text-align: center;
    background-color: white;
    border: 2px solid red;
}

.loader simple-sprite{
    margin: 0 auto;
    text-align: center;
    color: green;
}

<<<<<<< HEAD
.button{
    color: white;
    position : absolute;
    background-color: green;
    bottom: 50%;

}

=======
/* CSS OPTIONS */

.option_fond{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index:1;
}

.option_bonhomme{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index:2;
}

#options{
    position: absolute;
    height: 70%;
    width: 80%;
    top: 5%; left: 0; right: 0; bottom: 20%;
    margin: auto;
    overflow: hidden;
    z-index:3;
}

#options > div{
    height: auto;
    width: 50%;
    float: top;
    color: royalblue;
    display: flex;
    margin: auto;
    margin-top: 5%;
}

#options > div > .bt{
    background-color: white;
    text-decoration: none;
    color: royalblue;
    margin: auto;
    font-size: 9vw;
    border: 2px solid royalblue;
    text-align: center;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
}

#options > div > .bt_muted{
    background-color: white;
    text-decoration: none;
    color: royalblue;
    margin: auto;
    font-size: 9vw;
    border: 2px solid royalblue;
    text-align: center;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
}

#img_credits{
  position: absolute;
  height: 100%;
  width : 100%;
  z-index:8;
  display: none;
}

#options > div > .bt_flag{
    margin: 0;
    text-align: center;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
}

.flags{
  width: 100%;
  height: 100%;
  margin: 0;
}

/* FIN CSS OPTIONS */

.title{
    color: red;
    background-color: white;
    border: 2px solid red;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%)
}

table{
    width: 100%;
    border: 2px solid red;
}

table tr{
    text-align: center;
}
>>>>>>> f64d5b98f86b758d0ca901fadfccc4dcec4ec1c5
