@font-face{
    font-family: 'Silkscreen';
    src:    url('font/slkscr-webfont.woff') format('woff'),
            url('font/slkscrb-webfont.woff') format('woff'),
            url('font/slkscreb-webfont.woff') format('woff'),
            url('font/slkscre-webfont.woff') format('woff');
}

*{
    padding: 0;
    margin: 0;
    color: black;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Silkscreen', Fallback, sans-serif;
    overflow: hidden;
    background-color: aquamarine;
    height: 100%;
    width: 100%;
    color: white;
}

#menu{
    position: absolute;
    height: 15%;
    width: 75%;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    overflow: hidden;
}

#menu > div{
    height: 50%;
    width: 50%;
    float: left;
    color: red;
    display: flex;
}

#menu > div > a{
    background-color: white;
    text-decoration: none;
    color: red;
    margin: auto;
    font-size: 9vw;
    border: 2px solid red;
    text-align: center;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
}

.retourMenu{
    background-color: white;
    text-decoration: none;
    color: red;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
    position: absolute;
    top: 10px;
    left: 10px;
    border: 2px solid red;
}
.perso{
    display: block;
    width: 30px;
    height: 32px;
    background: url("img/femme.png") no-repeat;
    animation: persox 2s steps(15) infinite;
}

@keyframes persox {
    from{ background-position-x: 0; }
    to{ background-position-x: -450px; }
}

.afficheur{
    position: absolute;
    background-color: white;
    height: 20%; width: 75%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
<<<<<<< HEAD

.ecran{
    position: absolute;
    background-color: red;
    height: 100%;
    width: 100%;
}
.fondMenu{
    position: absolute;
    height: 640px;
    width: 360px;
    background: url("img/Background25-9000x640.png") no-repeat;
    animation: backgroundFrame 5s steps(25) infinite;
}

@keyframes backgroundFrame {
    from{ background-position-x: 0; }
    to{ background-position-x: -9000px; }
}


=======
>>>>>>> 89e88cc35027db0e0fb6935800f480a1e6363d61
