<!--<canvas id="myCanvas" width="{{canvasW}}" height="{{canvasH}}">
        
</canvas>

<img id="fond" ng-show="false" ng-src="css/img/Background25-9000x640.png">

-->

<canvas ng-show="false" id="myCanvas" width="{{canvasW}}" height="{{canvasH}}"></canvas>

<img id="fond" ng-src="css/img/Background25-9000x640.png" ng-style="fond">

<!--<div class="fondMenu"></div>

ng-src="css/img/Background25-9000x640.png"
-->
<div id="menu">
    <div><a href="#!jouer">JOUER</a></div>
    <div><a href="#!ladder">LADDER</a></div>
    <div><a href="#!perso">PERSO</a></div>
    <div><a href="#!option">OPTION</a></div>
</div>