<div data-ng-init="onLoadPage()">

    <div class="titreYoshmasa">
        YOSHMASA
    </div>

  <simple-sprite
      src="css/img/fondTmp/26_plan_menu_new.png"
      frame-width="{{widthScreen}}"
      frame-height="{{heightScreen}}"
      frames="26"
      frames-per-row="26"
      repeat="true"
      speed="500">
  </simple-sprite>

<div ng-if="langue == 'fr' || langue == null">
  <div id="menu">
    <div><a id="jou" href="#!jouer">JOUER</a></div>
    <div><a id="lad" href="#!ladder">LADDER</a></div>
    <div><a href="#!perso">PERSO</a></div>
    <div><a id="opt" href="#!option">OPTION</a></div>
  </div>
</div>

<div ng-if="langue == 'en'">
    <div id="menu">
      <div><a id="jou" href="#!jouer">PLAY</a></div>
      <div><a id="lad" href="#!ladder">RANK</a></div>
      <div><a href="#!perso">PERSO</a></div>
      <div><a id="opt" href="#!option">SET</a></div>
  </div>
</div>

<div class="mec">
  <simple-sprite
      src="{{personneAttend}}"
      frame-width="72"
      frame-height="124"
      frames="6"
      frames-per-row="6"
      repeat="true"
      speed="400">
  </simple-sprite>
</div>

<div class="homeMailloche">  
    <img ng-src="{{malloche}}">
</div>



</div>

<script type="text/javascript">

// PARTIE QUI SAUVEGARDE SI LA L'APPLI EST MUTE OU NON !!!!!

  console.log(localStorage.testaudio);
  if(localStorage.testaudio == 'true') {
    audio.muted = true;
  }
  else {
    audio.muted = false;
  }
</script>
