<a class="retourMenu" href="#!/home"><<</a>

<simple-sprite
        src="{{url}}"
        frame-width="{{widthScreen}}"
        frame-height="{{heightScreen}}" 
        frames="26" 
        frames-per-row="26" 
        repeat="true" 
        speed="500">
</simple-sprite>

<div class="afficheur">
        Position x : {{ x }}<br>
        Position y : {{ y }}<br>
        Position z : {{ z }}<br>
        Acc x : {{ accX }}<br>
        Acc y : {{ accY }}<br>
        Acc z : {{ accZ }}<br>
        Calcul Force XYZ : {{ forceXYZ }}<br>
        Calcul Force YZ : {{ forceYZ }}<br>
        Calcul Force Dv YZ : {{ forceYZD }}<br>
        Calcul Force Dv XYZ : {{ forceXYZD }}<br>
</div>

<div class="afficheurBtn">
        <button class="btnJouer" ng-class="{actif : actif}" ng-touchstart="calculDebut()" ng-touchend="calculFin()">jouer</button>

        <span ng-if="CalculFin()" class="animate-if">
  Si NAN recommencer le gestte.
</span>

</div>