<a class="retourMenu" href="#!/home"><<</a>

<simple-sprite
    src="{{url}}"
    frame-width="{{widthScreen}}"
    frame-height="{{heightScreen}}"
    frames="6"
    frames-per-row="6"
    repeat="true"
    speed="250">
</simple-sprite>

<div ng-if="langue == 'fr'"><h1 id="clas" class="title" ng-click="update()">Classement</h1></div>
<div ng-if="langue == 'en'"><h1 id="clas" class="title" ng-click="update()">Ranking</h1></div>

<div class="afficheur">
     <table>
         <thead>
             <tr>
                 <th>Rank</th>
                 <th>Pseudo</th>
                 <th>Score</th>
             </tr>
         </thead>
         <tbody>
            <tr ng-repeat="(k, c) in classement">
                <td>{{ k + 1 }}.</td>
                <td>{{c.pseudo}}</td>
                <td>{{c.point}}</td>
            </tr>
         </tbody>
     </table>
</div>
<!--
<script type="text/javascript">

  if(localStorage !== null){
    if(localStorage.lang == "MUTED"){
      document.getElementById("clas").innerHTML = "RANKING";
    }

    if(localStorage.lang == "MUET"){
      document.getElementByid("clas").innerHTML = "CLASSEMENT";
    }
  }

</script>
