<div class="fullScreen" ng-show="loader">
    <div class="loader">
        <h1>Chargement...</h1>
        <simple-sprite
            src="css/img/loader/loader100.png" 
            frame-width="100" 
            frame-height="100" 
            frames="4" 
            frames-per-row="4" 
            repeat="true" 
            speed="250">
        </simple-sprite>
    </div>
</div>

<a class="retourMenu" href="#!/"><<</a>

<simple-sprite
    src="css/img/testResize/ladderR.png"
    frame-width="{{widthScreen}}" 
    frame-height="{{heightScreen}}" 
    frames="6" 
    frames-per-row="6" 
    repeat="true" 
    speed="250">
</simple-sprite>

<div class="afficheur">
     <a ng-click="update()">Classement</a>
     <p ng-repeat="c in classement">{{c.pseudo}} - {{c.point}}</p>
</div>


