<a class="retourMenu" href="#!/home"><<</a>

<simple-sprite
        src="css/img/testResize/optionR.png" 
        frame-width="{{widthScreen}}" 
        frame-height="{{heightScreen}}" 
        frames="1" 
        frames-per-row="1" 
        repeat="true" 
        speed="500">
</simple-sprite>

<!-- 

<div id="options">
    <div onclick="afficher_div('img_credits');"><a>CREDITS</a></div>
</div>

<img id="img_credits" src="css/img/fond/credits.png" />


<script type="text/javascript">
  function afficher_div(id)
  {
  if (document.getElementById(id).style.display == 'none')
  {
       document.getElementById(id).style.display = 'block';
  }
  else
  {
       document.getElementById(id).style.display = 'none';
  }
  }
</script>

-->


