<a class="retourMenu" href="#!/home"><<</a>


  <div class="formulaire" ng-class=" {pseudoForm : pseudoVar}">
    <form ng-submit="submission()" id="form">
      <div ng-if="lang == 'fr' || lang == null">
        <label for="pseudo">Pseudo : </label><br><br>
      </div>
      <div ng-if="lang == 'en'">
        <label for="pseudo">Name : </label><br><br>
      </div>
      <input ng-model="psd" type="text" name="pseudo" id="pseudo" />
      <br><br>
      <input id="bt_pseudo" type="submit" value="Envoyer"/>
    </form>
  </div>

<div ng-if="lang == 'fr' || lang == null">
  <div id="options">
      <div>
        <a class="bt_flag" href="#!/home" ng-click="langue('fr')"><img class="flags" src="css/img/fond/FR.png" /></a>
        <a class="bt_flag" href="#!/home" ng-click="langue('en')"><img class="flags" src="css/img/fond/England.png" /></a>
      </div>
      <div><a class="bt" ng-click="pseudo()">PSEUDO</a></div>
      <div><a class="bt_muted" ng-class="{estActif : couleur}" id="btn" onclick="mute()" ng-click="on_off()">MUET</a></div>
      <!-- <div><a class="bt_muted" ng-class="{estActif : couleur}" ng-click="on_off()" onclick="mute()">MUET</a></div>  -->
      <div><a class="bt" ng-click="aff_credits()">CREDITS</a></div>
  </div>
</div>

<div ng-if="lang == 'en'">
  <div id="options">
      <div>
        <a class="bt_flag" href="#!/home" ng-click="langue('fr')"><img class="flags" src="css/img/fond/FR.png" /></a>
        <a class="bt_flag" href="#!/home" ng-click="langue('en')"><img class="flags" src="css/img/fond/England.png" /></a>
      </div>
      <div><a class="bt" ng-click="pseudo()">NAME</a></div>
      <div><a class="bt_muted" ng-class="{estActif : couleur}" id="btn" onclick="mute()" ng-click="on_off()">MUTE</a></div>
      <!-- <div><a class="bt_muted" ng-class="{estActif : couleur}" ng-click="on_off()" onclick="mute()">MUET</a></div>  -->
      <div><a class="bt" ng-click="aff_credits()">CREDITS</a></div>
  </div>
</div>

<div ng-if="lang == 'fr' || lang == null">
  <div class="bjr">
    <a id="bjr">BONJOUR</a><br><br>
    <a>{{text}}</a>
  </div>
</div>

<div ng-if="lang == 'en'">
  <div class="bjr">
    <a id="bjr">Hello</a><br><br>
    <a>{{text}}</a>
  </div>
</div>

<img class="img_credits" ng-class="{credits : crd}" ng-click="aff_credits()" src="{{urlCredit}}" />

<div class="option_fond">
  <simple-sprite
    src="css/img/fond/plan_jeu_new.png"
    frame-width="{{widthScreen}}"
    frame-height="{{heightScreen}}"
    frames="26"
    frames-per-row="26"
    repeat="true"
    speed="500">
  </simple-sprite>
</div>

<div class="option_bonhomme">
  <simple-sprite
    src="css/img/fond/options_anime.png"
    frame-width="{{widthScreen}}"
    frame-height="{{heightScreen}}"
    frames="14"
    frames-per-row="14"
    repeat="true"
    speed="200">
  </simple-sprite>
</div>





<script type="text/javascript">

  var audio = document.getElementById("audio");
  var btn = document.getElementById("btn");

  //console.log(localStorage.testaudio);

  function mute() {
    if (audio.muted == false) {
      var x = audio.muted = true;
      localStorage.setItem("testaudio", x);
    }
    else {
      var x = audio.muted = false;
      localStorage.setItem("testaudio", x);
    }
  }

</script>
