<a class="retourMenu" href="#!/home"><<</a>

<div style="text-align:center; height:500px; width:500px;">
        <div class="perso"></div>
        
        <div class="choixhomme"></div>
        <div class="choixmailloche"></div>
        
        <!--
        
        <div class="defilerhomme">
          <img src="img/tete_H_brun.png">
          <img src="img/tete_H_blond.png">
          <img src="img/tete_H_roux.png">
          <img src="img/tete_F_brun.png">
          <img src="img/tete_F_blond.png">
          <img src="img/tete_F_roux.png">
        </div>
        
        
        
        <div class="defilermailloche">
          <img src="img/mailloche_M.png">
          <img src="img/mailloche_M_dot.png">
          <img src="img/mailloche_MY.png">
          <img src="img/mailloche_N.png">
          <img src="img/mailloche_N_dot.png">
        </div>
        
        -->
        <section class="lazy slider" data-sizes="50vw">
          <div>
            <img src="img/tete_H_brun.png">
          </div>
        
        </section>
        
        
        </div>