<a class="retourMenu" href="#!/home"><<</a>

<div style="text-align:center; height:500px; width:500px;">
        <div class="perso"></div>

        <div class="choixhomme"></div>
        <div class="choixmailloche"></div>



        <section class="defilerhomme">
          <div>
            <img src="css/img/perso/tete_H_brun.png" width="100%">
          </div>
          <div>
            <img src="css/img/perso/tete_H_blond.png" width="100%">
          </div>
          <div>
            <img src="css/img/perso/tete_H_roux.png" width="100%">
          </div>
          <div>
            <img src="css/img/perso/tete_F_brun.png" width="100%">
          </div>
          <div>
            <img src="css/img/perso/tete_F_blond.png" width="100%">
          </div>
          <div>
            <img src="css/img/perso/tete_F_roux.png" width="100%">
          </div>
        </section>

        <section class="defilermailloche">
          <div>
            <img src="css/img/perso/mailloche_M.png" width="100%">
          </div>
          <div>
            <img src="css/img/perso/mailloche_N.png" width="100%">
          </div>
          <div>
            <img src="css/img/perso/mailloche_MY.png" width="100%">
          </div>
          <div>
            <img src="css/img/perso/mailloche_M_dot.png" width="100%">
          </div>
          <div>
            <img src="css/img/perso/mailloche_N_dot.png" width="100%">
          </div>
        </section>

        </div>
